* {
  margin: 0;
}

body {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: no-repeat center url("./rainbow-tetris-min.jpg");
  /* background: linear-gradient(320deg, #b4d415, rgb(230, 81, 7)); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 60px;
  color: rgb(255, 255, 255);
  /* text-shadow: 3px 3px #b4d415; */
}

.grid {
  background: rgb(115, 117, 89);
  padding: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 0.5vh;
  /* box-shadow: inset 2px 2px 2px rgba(199, 10, 10, 0.8) */
}

.grid>div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: rgb(83, 87, 95);
  border-radius: 0.5vh;
  /* outline: 0.1px solid rgb(225, 234, 97, 0.622); */
}

.grid .I {
  background-color: rgb(146, 190, 228);
}

.grid .J {
  background-color: rgb(10, 13, 225);
}

.grid .L {
  background-color: rgb(243, 131, 51);
}

.grid .O {
  background-color: rgb(211, 202, 17);
}

.grid .S {
  background-color: rgb(32, 247, 61);
}

.grid .T {
  background-color: rgb(143, 32, 247);
}

.grid .X {
  background-color: rgb(164, 219, 178);
}

.grid .Z {
  background-color: rgb(241, 67, 55);
}